.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px 16px;
}


@media only screen and (max-width: 767px) {
    .container {
        gap: 10px 11px;
        grid-template-columns: repeat(auto-fill, minmax(166px, 1fr));
    }
}
