.navbar__link {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 12px;
    margin: 0 10px;
    letter-spacing: 1.2;
    line-height: 1.42px;
    font-weight: 600;

    .navbar__content {
        color: #4c4747;
        line-height: 1.08;
        padding: 2px;
        white-space: nowrap;
        position: relative;

        &::before {
            background: #4c4747;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            content: "";
            height: 2px;
            bottom: -6px;
            position: absolute;
            left: 0;
            opacity: 0;
            right: 0;
            transform-origin: left center;
            transform: scale(0);
            transition: all 0.3s;
            visibility: hidden;
            width: auto;
        }
    }

    &:hover .navbar__content::before {
        transform: scale(1);
        visibility: visible;
        opacity: 1;
    }
}

.navbar__link:hover .navbar__content {
    color: #4c4747;
}

.navbar__content--active {
    color: #4c4747;
    line-height: 1.08;
    padding: 2px 0;
    white-space: nowrap;
    letter-spacing: 1.2;
    position: relative;

    &::before {
        background: #4c4747;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        content: "";
        height: 2px;
        bottom: -6px;
        position: absolute;
        left: 0;
        opacity: 1;
        right: 0;
        width: auto;
    }
}

