.wrapper {
    position: relative;
}

.container {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: flex-end;
    justify-content: stretch;
    padding: 28px 0;
}

.humburger {
    position: relative;
    height: 2px;
    width: 24px;
    flex-shrink: 0;
    transition: ease-in-out 300ms;

    &:before {
        position: absolute;
        top: 6px;
        height: 2px;
        width: 24px;
        background: var(--text-color);
        content: "";
        border-radius: 2px;
    }

    &:after {
        position: absolute;
        top: -6px;
        height: 2px;
        width: 24px;
        background: var(--text-color);
        content: "";
        border-radius: 2px;
    }

    &.active {
        background: transparent;

        &:before {
            transform: translateY(-8px);
            rotate: -45deg;
            border-radius: 2px;
        }
        &:after {
            transform: translateY(8px);
            rotate: 45deg;
            border-radius: 2px;
        }
    }

    &.inactive {
        background: var(--text-color);
        border-radius: 2px;

        &:before {
            top: 8px;
        }
        &:after {
            top: -8px;
        }
    }
}
