.wrapper {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    box-shadow: 0 4px 84px 0 rgba(0, 0, 0, 0.13);
    margin: 32px auto;
    max-width: 1200px;
    overflow: hidden;
    padding: 48px 48px 40px;
    background-image: #ccc;
}

.icon {
    margin-right: 6px;
}

.pagination {
    color: var(--text-color);
}
.order-loading {
    width: 36px;
    height: 36px;
}

.no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.6rem 0;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 2.4rem;
}

.transaction-accordions {
    border-radius: 22px;
    overflow: hidden;
}

.responsive {
    display: none;
    background-image: #fff;
    color: var(--text-color);
}
@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0;
        border-radius: 2.2rem;
    }
    .irresponsive {
        display: none;
    }
    .responsive {
        display: block;
    }
}
