.icon {
    background-image: url("../../../assets/icons/arrow-bottom-yellow.svg");
    background-size: contain;
    cursor: pointer;
    height: 24px;
    position: absolute;
    right: 32px;
    top: 28px;
    transition: all 0.2s linear;
    -webkit-user-select: none;
    user-select: none;
    width: 24px;
    z-index: 99;

    &.active {
        transform: rotate(180deg);
    }
}

.action-type {
    text-transform: capitalize;
}

.link {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 32px;
    color: hsla(0, 0%, 100%, 0.6) !important;
}

.header {
    -webkit-padding-end: 64px;
    align-items: center;
    display: flex;
    font-size: 14px;
    padding: 32px 64px 32px 24px;
    justify-content: space-between;
    position: relative;
    background: #fff;
    position: relative;
    transition: all 0.3s ease-out;
    z-index: 10;
    cursor: pointer;
    color: var(--text-color) !important;
    border-bottom: 1px solid #ccc;
}

.expanded-content {
    display: none;
    height: fit-content;
    opacity: 1;
    overflow: hidden;
    padding: 24px 32px;
    font-size: 1.4rem;
    background: #fff;
    border-bottom: 1px solid #ccc;

    &.active {
        display: flex;
        .date,
        .tx-hash,
        .received-or-payed,
        .status {
            animation-duration: 0.3s;
            animation-name: slidein;
        }
    }
}

.left-content,
.right-content {
    width: 50%;
}

.title-wrapper {
    margin-bottom: 4px;
}

.title {
    font-weight: 600;
    color: var(--text-color);
}

.value {
    padding-top: 8px;
    color: var(--text-color);
}

.date,
.tx-hash,
.received-or-payed,
.status {
    margin-bottom: 14px;
    padding: 0 0 14px;
}

@keyframes slidein {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
