.wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 1rem;
    font-family: var(--font-family);
    cursor: pointer;
    background: linear-gradient(
        90deg,
        #8f04a6 0%,
        #c0f 0%,
        #7000ff 39.36%,
        rgba(44, 0, 219, 0.91) 63.12%,
        rgba(4, 0, 203, 0.89) 79.64%,
        #1400ff 99.32%
    );
    border-radius: 3.125rem;
    text-decoration: none;
    border: 2px solid #7000ff;
    transition: 0.3s ease-in-out;
    letter-spacing: 1.2;
    font-weight: 550;
    user-select: none;
    color: var(--white-color);

    &:hover {
        background: var(--white-color);
        color: #7000ff;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

// Button types
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        background: #281266;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}

@media (max-width: 768px) {
}
