.overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: 1000;
    display: none;

    &.open {
        display: block;
    }
}

.wrapper {
    padding: 0 1.6rem;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    position: relative;
    height: 80vh;
}

.icon-increasement {
    width: 200px;
    height: auto;
    color: var(--primary-color);
}
.close-button {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 30px;
    height: 30px;

    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    &:hover {
        opacity: 0.6;
    }
}

.icon-close {
    color: var(--text-color);
    width: 2.4rem;
    height: 2.4rem;
}

.signin {
    position: relative;
    max-width: 450px;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;

    align-items: center;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 0.6rem;
    background: var(--primary-color);
}
.form-title {
    font-size: 2em;
    color: var(--text-color);
    text-transform: uppercase;
    margin-top: 16px;
    font-weight: 600;
}
.icon-wrapper {
    padding: 12px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.form-subtitle {
    text-align: center;
    color: var(--text-color);
    margin: 6px auto 16px;
    font-size: 1.4rem;
    font-weight: 400;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
    width: 100%;
    margin-top: 8px;
}

.label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-style: normal;
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    font-size: 1.4rem;
}
.input-icon {
    width: 20px;
    height: 20px;
    color: var(--text-color);
}

.input {
    position: relative;
    width: 100%;
    background: var(--white-color);
    border: none;
    outline: none;
    padding: 12px 16px 12px 36px;
    border-radius: 999px;
    color: var(--black-color);
    font-weight: 500;
    font-size: 1.6rem;
    box-shadow: -1px 2px 5px inset rgba(0, 0, 0, 0.4);
}

.input:focus ~ .label,
.input:valid ~ .label {
    font-size: 1rem;
    color: var(--white-color);
}
.error-message {
    font-size: 1.2rem;
    color: red;
    min-height: 18px;
    margin-top: 5px;
}

.confirm-button {
    text-align: center;
    padding: 14px 32px;
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.08em;
    cursor: pointer;
    border-radius: 999px;
    background: var(--background-color);
    width: 100%;

    &:not(:disabled):hover {
        background: var(--background-color);
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.confirm-button:active {
}
