.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 1.2rem;
    gap: 5px;
}

.page__num {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 400;
    color: #7000ff;

    &:hover {
        color: #fff;
        background: linear-gradient(
            90deg,
            #8f04a6 0%,
            #c0f 0%,
            #7000ff 39.36%,
            rgba(44, 0, 219, 0.91) 63.12%,
            rgba(4, 0, 203, 0.89) 79.64%,
            #1400ff 99.32%
        );
    }
}

.active {
    color: #fff;
    background: linear-gradient(
        90deg,
        #8f04a6 0%,
        #c0f 0%,
        #7000ff 39.36%,
        rgba(44, 0, 219, 0.91) 63.12%,
        rgba(4, 0, 203, 0.89) 79.64%,
        #1400ff 99.32%
    );
}

@media only screen and (max-width: 767px) {
    .container {
        gap: 10px 11px;
        grid-template-columns: repeat(auto-fill, minmax(166px, 1fr));
    }
}
