.trending__wrapper {
    margin: 20px 0;

    .trending__container {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .slider__wrapper {
            overflow-x: hidden;
        }
    }
}

.news_container {
    width: min(90rem, 90%);
    max-width: 840px;
    position: relative;
    margin: 0 auto;
}

.slider__list-left {
    padding: 20px 0;
    overflow: hidden;

    list-style: none;
    display: flex;
    width: max-content;

    animation: runSliderRight 10s linear infinite;

    &:hover {
        animation-play-state: paused;
    }
}
.slider__list-right {
    overflow: hidden;
    padding: 20px 0;
    list-style: none;
    display: flex;
    width: max-content;
    animation: runSliderLeft 10s linear infinite;

    &:hover {
        animation-play-state: paused;
    }
}
.slider__item {
    height: auto;
    width: 310px;
    border-radius: 8px;
    margin-right: 10px;
    .slider__image {
        border-radius: 8px;
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}

.background__slider-container {
    height: 100%;
    .background__slider-image {
        background: #ffffff;
        border-radius: 8px;
        width: 220px;
        height: 300px;
        .image {
            border: 1px solid #ffffff;
            border-radius: 8px;
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.slider-controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-controler .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
}

@keyframes runSliderLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-320px * 1));
    }
}

@keyframes runSliderRight {
    from {
        transform: translateX(calc(-320px * 1));
    }

    to {
        transform: translateX(0);
    }
}

// account

.account__wrapper {
    margin-top: 30px;
}

.account__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow: hidden;
    padding: 64px 0;
}

.account__list--left {
    display: flex;
    gap: 16px;
    animation: account__run__left 100s linear infinite;
}

.account__list--right {
    display: flex;
    gap: 16px;
    animation: account__run__right 100s linear infinite;
}

@keyframes account__run__left {
    0% {
        transform: translateX(-2320px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes account__run__right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-2320px);
    }
}
