.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    .label {
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
    }

    .control {
        width: 100%;
        border-radius: 10px;
        border: 0.7px solid rgba(0, 0, 0, 0.25);
        background: #f8fafd;
        padding: 15px 10px;
    }
}
