.wrapper {
    width: 100%;
    height: 313px;
    border-radius: 4px;
    border: 0.5px solid #e4eeef;
    opacity: 1;
    background: #fff;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
    transition: all 550ms linear 0s;
    position: relative;
    overflow: hidden;

    &:hover {
        box-shadow: 0 2px 16px 1px rgba(0, 0, 0, 0.1);
        scale: (0.98);
        cursor: pointer;
    }
}

.container {
    padding: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.name {
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    color: #7000ff;
}

.type {
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    color: #7000ff;
}
.information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background: #e4eeef;
    padding: 6.5px 0px;
}

.author {
    display: flex;
    align-items: center;
    padding: 0 4px;
    flex: 1;
    gap: 1rem;
}

.author-name {
    color: var(--text-color);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90px;
    flex: 1;
}

.price {
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    padding: 0 8px;
    color: var(--text-color);
}

.policyId {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.policyId-name {
    text-align: center;
    color: #4c4747;
    font-size: 12px;
    font-weight: 700;
}
.policyId-value {
    font-size: 12px;
    font-weight: 600;
    color: #4c4747;
    display: flex;
    align-items: center;
    max-width: 40%;
}

.policyId-convert {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}
