.wrapper {
    margin: 32px 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: none;
    letter-spacing: none;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    padding: 10px 16px;
    margin-right: 16px;
    background: linear-gradient(
        90deg,
        #8f04a6 0%,
        #c0f 0%,
        #7000ff 39.36%,
        rgba(44, 0, 219, 0.91) 63.12%,
        rgba(4, 0, 203, 0.89) 79.64%,
        #1400ff 99.32%
    );
    color: var(--white-color);
}

.description {
    margin-top: 16px;
}
