.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    border-radius: 8px;
}

.image-wrapper {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    transition-duration: 0.5s;
    transition-property: opacity, filter;
    width: 172px;
    height: 172px;
    filter: brightness(1);
}

.image {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: transparent;
    object-fit: cover;
    transition-duration: 0.5s;
    transition-property: transform;
    transition: all ease-in-out 300ms;

    &:hover {
        scale: 1.2;
    }
}

.social-icon {
    bottom: 0;
    height: 48px;
    left: 0;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    transition-duration: 0.5s;
    transition-property: background-color;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48) 50%, transparent);
}

.icon-link {
    position: relative;
    align-items: center;
    background-color: #fff;
    color: #000;
    display: inline-flex;
    height: 24px;
    justify-content: center;
    width: 24px;
    border-radius: 12px;
    outline: 1px solid rgba(0, 0, 0, 0.08);
    transition-property: color, background-color, outline;
    transition-duration: 0.25s;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    color: #000;
    font-family: var(--font-serif), serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
}

.role {
    color: #000;
    font-family: var(--font-sans), sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
}
